<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css"></link>
    <title>Vue.js</title>
  </head>
  <body>
    <div class="container pt-5" id="app">
        <div class="row mb-3">
            <div class="col">
                <h1>cars application</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">Find your car</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="search" 
                        placeholder="Name, model..."
                        v-model="search"
                    />
                    {{search}}
                    <hr/>
                    <ul class="list-group">
                        <li 
                            v-for="(car,index) of filteredCars"
                            @click="selectedCar(index)"
                            :class="{'active': selectedCarIndex === index}"
                            class="list-group-item list-group-item-action pointer">
                                {{car.name}} - {{car.model}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ car.name }}</h2>
                        <img 
                            :src="car.image"
                            :alt="car.name"
                            class="rounded detailed-car-image"
                        />
                    </div>
                    <div class="col-md-7 pt-2">
                        <h5>car details</h5>

                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Owner - <strong>{{ car.name }}</strong></li>
                        </ul>
                        <div class="phone-block">
                            <p v-if="phoneVisibility">{{ car.phone }}</p>
                        </div>
                        <button 
                            class="btn btn-outline-success mr-3" 
                            @click="phoneVisibility = !phoneVisibility">
                                {{phoneButtonText}}
                            </button>
                        <button 
                            class="btn btn-primary"
                            @click="modalVisibility=true"
                        >
                                Buy
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div 
            class="modal fade show" 
            id="exampleModalLong" tabindex="-1" 
            role="dialog" 
            aria-labelledby="exampleModalLongTitle" 
            aria-hidden="true"
            v-if="modalVisibility"
            >
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Do you want to buy the car?</h5>
                    <button 
                        type="button" 
                        class="close" 
                        data-dismiss="modal" 
                        aria-label="Close"
                        @click="modalVisibility=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button 
                        type="button" 
                        class="btn btn-secondary" 
                        data-dismiss="modal"
                        @click="modalVisibility=false">
                            Close
                        </button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-backdrop show fade" v-if="modalVisibility"></div>
        

    </div>

    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>